.scroller__inner-reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller-reviews[data-animated="true"] {
  overflow: hidden;
}

.scroller-reviews[data-animated="true"] .scroller__inner-reviews {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller-reviews[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller-reviews[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller-reviews[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller-reviews[data-speed="slow"] {
  --_animation-duration: 60s;
}

.scroller-reviews[data-animated="true"] .scroller__inner-reviews:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

::-webkit-scrollbar {
  width: 7px;
}

/* Handle (thumb of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 20px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color when hovered */
}
