@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll {
  position: relative;
  overflow: hidden;
}

.m-scroll {
  display: flex;
  width: fit-content;
  animation: scrollText 20s infinite linear;
}

span {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: white;
}

.img-slider {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
